<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You order with Order ID <%= @order.order_id %> status updated to <%= @order.status %>.</p>
<p>
  Details<br>
  --------------------------
</p>
<p>Sender Email: <%= @order.sender.email %></p>
<p>Receiver Email: <%= @order.receiver.email %></p>
<p>
  Message:<br> <a href="<%= @url %>">Click here </a>to see your order status. <br>
  ----------
</p>
<p>STATUS: <%= @order.status %></p>
</body>
</html>
